<div class="form-field">
  @if (label) {
    <label [attr.for]="controlName">{{ label }}</label>
  }

  @if (type === 'textarea') {
    <textarea
      [formControlName]="controlName"
      [id]="controlName"
      [placeholder]="placeholder"
      [autocomplete]="autocomplete"
      [rows]="rows"
      ></textarea>
  } @else {
    <input
      [formControlName]="controlName"
      [id]="controlName"
      [type]="type"
      [placeholder]="placeholder"
      [autocomplete]="autocomplete"
    />
  }

  @if (hasError()) {
    <span class="error" role="alert">{{ errorMessage() }}</span>
  }
</div>
